LoadModule perl_module modules/mod_perl.so

PerlSwitches -I[% apache.PERL5LIB %]
PerlModule [% apache.PerlModule %]    
PerlSetEnv ACT_REG_YAML_FILE '[% apache.ACT_REG_YAML_FILE %]'
PerlSetEnv CATALYST_YAML_FILE '[% apache.CATALYST_YAML_FILE %]'
<Location / >
    SetHandler          modperl
    PerlResponseHandler [% apache.PerlModule %]
</Location>
